In [1]:
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from IPython.display import display

In [8]:
# Load the rrhh cdv dataset from seaborn
rrhh_df = pd.read_csv('rrhh.csv')


cat_val = [rrhh_df.Departamento.unique(),
rrhh_df.Posicion.unique(),
rrhh_df.Desempeño.unique(),
rrhh_df.Sexo.unique()]

[display(data) for data in cat_val]

array(['Admin Offices', 'Executive Office', 'IT/IS', 'Production',
       'Sales', 'Software Engineering'], dtype=object)

array(['Accountant I', 'Administrative Assistant',
       'Shared Services Manager', 'Sr. Accountant', 'President & CEO',
       'CIO', 'Database Administrator', 'IT Director', 'IT Manager - DB',
       'IT Manager - Infra', 'IT Manager - Support', 'IT Support',
       'Network Engineer', 'Sr. DBA', 'Sr. Network Engineer',
       'Director of Operations', 'Production Manager',
       'Production Technician I', 'Production Technician II',
       'Area Sales Manager', 'Director of Sales', 'Sales Manager',
       'Software Engineer', 'Software Engineering Manager', 'BI Director',
       'Senior BI Developer', 'BI Developer', 'Data Architect'],
      dtype=object)

array(['Fully Meets', 'N/A- too early to review', '90-day meets',
       'Exceptional', 'Needs Improvement', 'Exceeds', 'PIP'], dtype=object)

array(['Female', 'Male'], dtype=object)

[None, None, None, None]

In [9]:
rrhh_df.head()

,Estado,Edad,Ratio.Pago,Salario,Dias.trabajados,Ausencias,Sexo,Estado.Civil,Departamento,Posicion,Desempeño
0,0,30.0,28.50,4167.066667,3317,1,Female,2,Admin Offices,Accountant I,Fully Meets
1,0,34.0,23.00,6962.466667,1420,17,Male,1,Admin Offices,Accountant I,Fully Meets
2,0,31.0,29.00,4330.333333,1154,3,Male,4,Admin Offices,Accountant I,Fully Meets
3,0,32.0,21.50,4332.733333,58,15,Female,2,Admin Offices,Administrative Assistant,N/A- too early to review
4,0,30.0,16.56,3388.333333,940,2,Female,4,Admin Offices,Administrative Assistant,N/A- too early to review

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    titanic.drop('survived', axis=1),
    titanic['survived'],
    test_size=0.2, random_state=0
)
# Create the logistic regression model
model = LogisticRegression(max_iter=1000)

# Train the model
model.fit(X_train, y_train)
# Make predictions
y_pred = model.predict(X_test)

# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)